// стили для toolbar который выбирает цвет
.color_buttons__container {
    padding: 10px;
    position: relative;
    width: fit-content;
    top: -125px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    background: rgb(132, 113, 138);
    border-radius: 10px;
    border: 1px solid black;

    &:after {
        content: "";
        transform: rotate(45deg);
        position: absolute;
        bottom: -7px;
        left: 7px;
        width: 15px;
        height: 15px;
        background: rgb(132, 113, 138);
    }
}
.color_buttons__btn {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: ease-in-out 0.1s;

    &:hover {
        border-spacing: 1px;
        border: solid 2px, black;
    }
}
.color_buttons__btn__active {
    border-spacing: 1px;
    border: solid 2px, black;
}
